<div class="job_content">
    <div class="logo">
        <!-- Last updated: "2019-02-19 23:24:23 +0700"-->
        <div class="logo-wrapper"
             title="GiggedIn - A tech startup in Australia, making live music a part of every person&#39;s weekly routine.">
            <a target="_blank" href="/companies/giggedin"><img alt="GiggedIn Vietnam Small Logo"
                                                               src="https://cdn.itviec.com/employers/giggedin/logo/s65/Z8Z3Kcp5vMbcrYh8ow6ue591/giggedin-logo.png"
                                                               width="65" height="65"/>
            </a></div>
        <div class="clearfix"></div>
    </div>
    <div class="job__description">
        <div class="job__body">
            <div class="details">
                <h2 class="title"><a target="_blank" href="/it-jobs/sr-frontend-dev-javascript-html5-css-giggedin-3052">Sr. Frontend Dev. (JavaScript/HTML5/CSS)</a>
                </h2>
                <div class="salary not-signed-in">
<span class="salary-icon-stack">
<i class="ion-ios-circle-outline"></i>
<i class="ion-social-usd"></i>
</span>

                    <a class="view-salary" data-toggle="modal" data-target="#sign-in-modal" rel="nofollow" href="">Sign
                        in to view</a>
                    <div class="address__arrow"></div>
                </div>


                <div class="hidden-xs">
                    <ul class="benefits">
                        <li>
                            Opportunity fly to Australia
                        </li>
                        <li>
                            Work alongside with CEO, CTO
                        </li>
                        <li>
                            Fast growing, global tech Co.
                        </li>
                    </ul>

                </div>
                <div class="description hidden-xs">
                    As a Front End Engineer you will be working with our wider team and engineers to further accelerate
                    our footprint in becoming the Spotify/Netflix of...
                </div>
                <div class="visible-xs">
                    <div class="city">
                        <div class="text">Ho Chi Minh</div>
                    </div>
                    <ul class="benefits">
                        <li>
                            Opportunity fly to Australia
                        </li>
                        <li>
                            Work alongside with CEO, CTO
                        </li>
                        <li>
                            Fast growing, global tech Co.
                        </li>
                    </ul>

                </div>
            </div>
        </div>
        <div class="job-bottom">
            <div class="tag-list">
                <a class="job__skill ilabel mkt-track" href="/it-jobs/javascript"><span>
JavaScript
</span>
                </a><a class="job__skill ilabel mkt-track" href="/it-jobs/html5"><span>
HTML5
</span>
            </a><a class="job__skill ilabel mkt-track" href="/it-jobs/english"><span>
English
</span>
            </a>
            </div>
        </div>
    </div>
    <div class="city_and_posted_date hidden-xs">
        <div class="feature new text" title="This job is urgent. Apply today!">Hot Job</div>
        <div class="city">
            <div class="address">
                <div class="text">
                    Ho Chi Minh
                </div>
                <div class="text other-address">
                    District 1
                </div>
            </div>
        </div>
        <div class="distance-time-job-posted">
<span class="distance-time highlight">
4 hours ago
</span>
        </div>
    </div>
</div>
